<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        <activity
            android:name="com.example.viewlogin.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.viewsinhvien.MainActivity" android:exported="false" />
        <activity android:name="com.example.viewsinhvien.MainMenuActivity" android:exported="false" />
        <activity android:name="com.example.viewsinhvien.EconomyActivity" android:exported="false" />
        <activity android:name="com.example.viewsinhvien.ProfileActivity" android:exported="false"/>
        <activity android:name="com.example.viewsinhvien.ScheduleActivity" android:exported="false" />
        <activity android:name="com.example.viewsinhvien.ScoreActivity" android:exported="false" />
        <activity android:name="com.example.viewsinhvien.SubjectActivity" android:exported="false" />
        <activity android:name="com.example.viewsinhvien.DangKyMonHoc" android:exported="false" />

        <activity android:name="com.example.viewlogin.ForgotPasswordActivity" android:exported="false" />
        <activity android:name="com.example.viewadmin.AdminActivity" android:exported="false" />
        <activity android:name="com.example.viewadmin.ketquaht" android:exported="false" />
        <activity android:name="com.example.viewadmin.monhoc" android:exported="false" />
        <activity android:name="com.example.viewadmin.sinhvien" android:exported="false" />
        <activity android:name="com.example.viewadmin.taichinhsv" android:exported="false" />
    </application>
</manifest>
